<div class="card color<%= message.color %> <%= (display)? "cardOnDisplay" : "" %>">
    <img src="/assets/pin.svg" class="pinIcon <%= (message.pinned)? "visible" : "" %>">
    <div class="cardText">
        <p class="<%= (!display)? "cardMessage" : "" %>">
            <%= message.text %>
        </p>
        <div class="cardEnding">
            <p class="cardUser">- <%= message.user %></p>
            <% if (display) { %> 
                <p class="timestamp"><%= date %></p>
            <% } else { %>
                <a href="/message/<%= message.id %>">view message</a>
            <% } %>
        </div>
    </div>
</div>