<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div id="formPage">
            <h2>new message</h2>
            <%- include("partials/error.ejs") %>
            <form method="POST" action="/new" id="newMessageForm">
                <div class="inputGroup">
                    <label for="nameInput">author name</label>
                    <input type="text" name="name" id="nameInput" value="<%= nameText %>">
                </div>
                <div class="inputGroup">
                    <label for="messageInput">message</label>
                    <textarea name="message" id="messageInput"><%= messageText %></textarea>
                </div>
                <div id="formButtonContainer">
                    <a class="button" id="returnHomeButton" href="/">return to home</a>
                    <button type="submit" class="button">post message</button>
                </div>
             </form>
        </div>
    </main>
     <%- include('footer') %>
</body>
</html>